In [1]:
import pandas as pd 
import numpy as np

In [2]:
df= pd.read_csv('AccidentesAviones.csv', index_col=0)

In [3]:
df.head(20)

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
5,"October 17, 1913",1030,"Near Johannisthal, Germany",Military - German Navy,?,?,Zeppelin L-2 (airship),?,?,28,?,?,28,?,?,0,Hydrogen gas which was being vented was sucked...
6,"March 05, 1915",0100,"Tienen, Belgium",Military - German Navy,?,?,Zeppelin L-8 (airship),?,?,41,0,41,17,0,17,0,Crashed into trees while attempting to land af...
7,"September 03, 1915",1520,"Off Cuxhaven, Germany",Military - German Navy,?,?,Zeppelin L-10 (airship),?,?,19,?,?,19,?,?,0,"Exploded and burned near Neuwerk Island, when..."
8,"July 28, 1916",?,"Near Jambol, Bulgeria",Military - German Army,?,?,Schutte-Lanz S-L-10 (airship),?,?,20,?,?,20,?,?,0,"Crashed near the Black Sea, cause unknown."
9,"September 24, 1916",0100,"Billericay, England",Military - German Navy,?,?,Zeppelin L-32 (airship),?,?,22,?,?,22,?,?,0,Shot down by British aircraft crashing in flames.
10,"October 01, 1916",2345,"Potters Bar, England",Military - German Navy,?,?,Zeppelin L-31 (airship),?,?,19,0,19,19,0,19,0,Shot down in flames by the British 39th Home D...
11,"November 21, 1916",?,"Mainz, Germany",Military - German Army,?,?,Super Zeppelin (airship),?,?,28,?,?,27,?,?,0,Crashed in a storm.
12,"November 28, 1916",2345,"Off West Hartlepool, England",Military - German Navy,?,?,Zeppelin L-34 (airship),?,?,20,?,?,20,?,?,0,Shot down by British anti-aircraft fire and ai...
13,"March 04, 1917",?,"Near Gent, Belgium",Military - German Army,?,?,Airship,?,?,20,?,?,20,?,?,0,Caught fire and crashed.
14,"March 30, 1917",?,Off Northern Germany,Military - German Navy,?,?,Schutte-Lanz S-L-9 (airship),?,?,23,?,?,23,?,?,0,Struck by lightning and crashed into the Balti...
15,"May 14, 1917",0515,"Near Texel Island, North Sea",Military - German Navy,?,?,Zeppelin L-22 (airship),?,?,21,?,?,21,?,?,0,"Crashed into the sea from an altitude of 3,000..."
16,"June 14, 1917",0845,"Off Vlieland Island, North Sea",Military - German Navy,?,?,Zeppelin L-43 (airship),?,?,24,?,?,24,?,?,0,Shot down by British aircraft.
17,"June 17, 1917",?,"Near Yarmouth, England",?,?,?,Zepplin L-48 (air ship),L-48,?,16,?,?,14,?,?,0,Shot down by aircraft.
18,"August 21, 1917",0700,Off western Denmark,Military - German Navy,?,?,Zeppelin L-23 (airship),?,?,18,?,?,18,?,?,0,Shot down by British aircraft.
19,"October 20, 1917",0745,"Near Luneville, France",Military - German Navy,?,?,Zeppelin L-44 (airship),?,?,18,?,?,18,?,?,0,Shot down by French anti-aircraft fire.

# se elimina flight, route, registration por una cuestion de criterio el cual se observo durante 3 dias

In [4]:
df2= df.drop(columns=['flight_no', 'route', 'registration'])

In [5]:
df2.head()

,fecha,HORA declarada,Ruta,OperadOR,ac_type,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,Wright Byplane,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,Zeppelin L-1 (airship),?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [6]:
df2.replace("?",np.nan, inplace=True) # se reemplazan los signos por nulos

In [7]:
df2[['mes','dia','año']] = df2['fecha'].str.split(' ', expand=True) # se crea las columnas dia, mes, anio para desanidar

In [8]:
df2['dia'] = df2.dia.str.replace(',', '')

In [9]:
df2['mes'] = pd.to_datetime(df2['mes'], format= '%B').dt.month

In [10]:
df2['fecha'] = df2['año'].astype(str)+'-'+df2['mes'].astype(str)+'-'+df2['dia'].astype(str)

In [11]:
df2['fecha'].value_counts

<bound method IndexOpsMixin.value_counts of 0       1908-9-17
1       1909-9-07
2       1912-7-12
3       1913-8-06
4       1913-9-09
          ...
5003    2021-3-28
5004    2021-5-21
5005    2021-6-10
5006    2021-7-04
5007    2021-7-06
Name: fecha, Length: 5008, dtype: object>

In [12]:
# df2.drop(columns=['mes','dia'], inplace=True)

In [13]:
df2.head()

,fecha,HORA declarada,Ruta,OperadOR,ac_type,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,mes,dia,año
0,1908-9-17,1718,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",9,17,1908
1,1909-9-07,NaN,"Juvisy-sur-Orge, France",NaN,Wright Byplane,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,9,07,1909
2,1912-7-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,7,12,1912
3,1913-8-06,NaN,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,8,06,1913
4,1913-9-09,1830,Over the North Sea,Military - German Navy,Zeppelin L-1 (airship),NaN,20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...,9,09,1913

In [14]:
df2[df2['HORA declarada'].str.len()>4]

,fecha,HORA declarada,Ruta,OperadOR,ac_type,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,mes,dia,año
84,1923-9-14,c 18:00,"Near Ivinghoe, Buckinghamshire, England",Daimler Airways,de Havilland DH-34,29,5,3,2,5,3,2,0,Crashed while attempting a forced landing afte...,9,14,1923
87,1923-12-23,c 02:30,Over the Mediterranean Sea,Military - French Navy,Zeppelin Dixmunde (airship),NaN,52,NaN,NaN,52,NaN,NaN,0,"Crashed while on a flight from Toulon, France ...",12,23,1923
95,1924-12-24,c 12:00,"Purley, England",Imperial Airways,de Havilland DH-34B,36,8,7,1,8,7,1,0,"Shortly after taking off, witnesses observed a...",12,24,1924
117,1926-10-21,c 13:15,English Channel,Imperial Airways,Handley Page W-10,W10/3,12,10,2,0,0,0,0,The plane was on a flight from London to Paris...,10,21,1926
132,1927-9-23,10:00,"Schleiz, Germany",Deutsche Lufthansa,Dornier Merkur,075,6,4,2,6,4,2,0,From an altitude of 500 ft. the plane went out...,9,23,1927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4380,2002-2-22,02:30,"Off Dumaguete, Philippines",Military - U.S. Army,MH-47 Chinook helicopter,M-3719,10,4,6,10,4,6,0,A helicopter ferrying U.S. troops in a counter...,2,22,2002
4385,2002-4-15,11:23,"Busan, South Korea",Air China,Boeing B-767-200ER,23308/127,166,155,11,128,120,8,0,"The aircraft crashed onto a mountain, in fog, ...",4,15,2002
4531,2004-12-11,05:30,"Uberaba, Brazil",NHR Táxi-Aéreo,Embraer EMB-110 Bandeirante,110071,2,0,2,2,0,2,1,The crew was performing a mail flight under To...,12,11,2004
4742,2009-8-26,0500Z,"Nganga Lingolo, Congo",Aero Fret Business,Antonov An-12BK,6344607,7,2,5,7,2,5,0,The cargo plane crashed 7 miles SE of Brazzavi...,8,26,2009
5006,2021-7-04,11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,Lockheed C-130H Hercules,5125,96,88,8,50,NaN,NaN,3,"While attempting to land at Jolo Airport, the ...",7,04,2021

In [15]:
df2['HORA declarada'] = df2['HORA declarada'].str.replace(':', '')

In [16]:
df2['HORA declarada'] = df2['HORA declarada'].str.replace('c', '')

In [17]:
df2['HORA declarada'] = df2['HORA declarada'].str.replace('Z', '')

In [18]:
df2['HORA declarada'] = df2['HORA declarada'].str.replace(';', '')

In [19]:
df2['HORA declarada']= df2['HORA declarada'].str.strip()

In [20]:
df2['hora']=pd.to_datetime(df2['HORA declarada'], format='%H%M').dt.time

In [21]:
df2.head()

,fecha,HORA declarada,Ruta,OperadOR,ac_type,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,mes,dia,año,hora
0,1908-9-17,1718,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",9,17,1908,17:18:00
1,1909-9-07,NaN,"Juvisy-sur-Orge, France",NaN,Wright Byplane,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,9,07,1909,NaT
2,1912-7-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,7,12,1912,06:30:00
3,1913-8-06,NaN,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,8,06,1913,NaT
4,1913-9-09,1830,Over the North Sea,Military - German Navy,Zeppelin L-1 (airship),NaN,20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...,9,09,1913,18:30:00

In [22]:
df2.drop(columns='HORA declarada', inplace=True)

In [23]:
df2

,fecha,Ruta,OperadOR,ac_type,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,mes,dia,año,hora
0,1908-9-17,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",9,17,1908,17:18:00
1,1909-9-07,"Juvisy-sur-Orge, France",NaN,Wright Byplane,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,9,07,1909,NaT
2,1912-7-12,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,7,12,1912,06:30:00
3,1913-8-06,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,8,06,1913,NaT
4,1913-9-09,Over the North Sea,Military - German Navy,Zeppelin L-1 (airship),NaN,20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...,9,09,1913,18:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,2021-3-28,"Near Butte, Alaska",Soloy Helicopters,Eurocopter AS350B3 Ecureuil,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...,3,28,2021,18:35:00
5004,2021-5-21,"Near Kaduna, Nigeria",Military - Nigerian Air Force,Beechcraft B300 King Air 350i,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi...",5,21,2021,18:00:00
5005,2021-6-10,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,Beechcraft 1900D,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...,6,10,2021,08:00:00
5006,2021-7-04,"Patikul, Sulu, Philippines",Military - Philippine Air Force,Lockheed C-130H Hercules,5125,96,88,8,50,NaN,NaN,3,"While attempting to land at Jolo Airport, the ...",7,04,2021,11:30:00
5007,2021-7-06,"Palana, Russia",Kamchatka Aviation Enterprise,Antonov An 26B-100,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...,7,06,2021,15:00:00

In [24]:
df2.rename(columns={'OperadOR': 'operador', 'PASAJEROS A BORDO': 'pasajeros_a_bordo', 'crew_aboard': 'personal_a_bordo', 'all_aboard': 'total_a_bordo',
           'passenger_fatalities': 'pasajeros_fallecidos', 'crew_fatalities': 'personal_fallecido', 'cantidad de fallecidos': 'total_fallecidos',
           'ac_type': 'tipo_de_avion','Ruta': 'ruta'}, inplace=True)

In [25]:
df2 = df2.reindex(columns=['fecha', 'hora', 'operador','tipo_de_avion','ruta','pasajeros_a_bordo','personal_a_bordo','total_a_bordo','pasajeros_fallecidos','personal_fallecido','ground','total_fallecidos']
                 + df2.columns.difference(['fecha', 'hora','tipo_de_avion','ruta' ,'operador', 'pasajeros_a_bordo','personal_a_bordo','total_a_bordo','pasajeros_fallecidos','personal_fallecido','ground','total_fallecidos']).tolist())

In [26]:
df2.head(20)

,fecha,hora,operador,tipo_de_avion,ruta,pasajeros_a_bordo,personal_a_bordo,total_a_bordo,pasajeros_fallecidos,personal_fallecido,ground,total_fallecidos,año,cn_ln,dia,mes,summary
0,1908-9-17,17:18:00,Military - U.S. Army,Wright Flyer III,"Fort Myer, Virginia",1,1,2,1,0,0,1,1908,1,17,9,"During a demonstration flight, a U.S. Army fly..."
1,1909-9-07,NaT,NaN,Wright Byplane,"Juvisy-sur-Orge, France",0,1,1,0,0,0,1,1909,NaN,07,9,Eugene Lefebvre was the first pilot to ever be...
2,1912-7-12,06:30:00,Military - U.S. Navy,Dirigible,"Atlantic City, New Jersey",0,5,5,0,5,0,5,1912,NaN,12,7,First U.S. dirigible Akron exploded just offsh...
3,1913-8-06,NaT,Private,Curtiss seaplane,"Victoria, British Columbia, Canada",0,1,1,0,1,0,1,1913,NaN,06,8,The first fatal airplane accident in Canada oc...
4,1913-9-09,18:30:00,Military - German Navy,Zeppelin L-1 (airship),Over the North Sea,NaN,NaN,20,NaN,NaN,0,14,1913,NaN,09,9,The airship flew into a thunderstorm and encou...
5,1913-10-17,10:30:00,Military - German Navy,Zeppelin L-2 (airship),"Near Johannisthal, Germany",NaN,NaN,28,NaN,NaN,0,28,1913,NaN,17,10,Hydrogen gas which was being vented was sucked...
6,1915-3-05,01:00:00,Military - German Navy,Zeppelin L-8 (airship),"Tienen, Belgium",0,41,41,0,17,0,17,1915,NaN,05,3,Crashed into trees while attempting to land af...
7,1915-9-03,15:20:00,Military - German Navy,Zeppelin L-10 (airship),"Off Cuxhaven, Germany",NaN,NaN,19,NaN,NaN,0,19,1915,NaN,03,9,"Exploded and burned near Neuwerk Island, when..."
8,1916-7-28,NaT,Military - German Army,Schutte-Lanz S-L-10 (airship),"Near Jambol, Bulgeria",NaN,NaN,20,NaN,NaN,0,20,1916,NaN,28,7,"Crashed near the Black Sea, cause unknown."
9,1916-9-24,01:00:00,Military - German Navy,Zeppelin L-32 (airship),"Billericay, England",NaN,NaN,22,NaN,NaN,0,22,1916,NaN,24,9,Shot down by British aircraft crashing in flames.
10,1916-10-01,23:45:00,Military - German Navy,Zeppelin L-31 (airship),"Potters Bar, England",0,19,19,0,19,0,19,1916,NaN,01,10,Shot down in flames by the British 39th Home D...
11,1916-11-21,NaT,Military - German Army,Super Zeppelin (airship),"Mainz, Germany",NaN,NaN,28,NaN,NaN,0,27,1916,NaN,21,11,Crashed in a storm.
12,1916-11-28,23:45:00,Military - German Navy,Zeppelin L-34 (airship),"Off West Hartlepool, England",NaN,NaN,20,NaN,NaN,0,20,1916,NaN,28,11,Shot down by British anti-aircraft fire and ai...
13,1917-3-04,NaT,Military - German Army,Airship,"Near Gent, Belgium",NaN,NaN,20,NaN,NaN,0,20,1917,NaN,04,3,Caught fire and crashed.
14,1917-3-30,NaT,Military - German Navy,Schutte-Lanz S-L-9 (airship),Off Northern Germany,NaN,NaN,23,NaN,NaN,0,23,1917,NaN,30,3,Struck by lightning and crashed into the Balti...
15,1917-5-14,05:15:00,Military - German Navy,Zeppelin L-22 (airship),"Near Texel Island, North Sea",NaN,NaN,21,NaN,NaN,0,21,1917,NaN,14,5,"Crashed into the sea from an altitude of 3,000..."
16,1917-6-14,08:45:00,Military - German Navy,Zeppelin L-43 (airship),"Off Vlieland Island, North Sea",NaN,NaN,24,NaN,NaN,0,24,1917,NaN,14,6,Shot down by British aircraft.
17,1917-6-17,NaT,NaN,Zepplin L-48 (air ship),"Near Yarmouth, England",NaN,NaN,16,NaN,NaN,0,14,1917,NaN,17,6,Shot down by aircraft.
18,1917-8-21,07:00:00,Military - German Navy,Zeppelin L-23 (airship),Off western Denmark,NaN,NaN,18,NaN,NaN,0,18,1917,NaN,21,8,Shot down by British aircraft.
19,1917-10-20,07:45:00,Military - German Navy,Zeppelin L-44 (airship),"Near Luneville, France",NaN,NaN,18,NaN,NaN,0,18,1917,NaN,20,10,Shot down by French anti-aircraft fire.

In [27]:
df2.drop(columns='cn_ln', inplace=True)

In [28]:
df2.head()

,fecha,hora,operador,tipo_de_avion,ruta,pasajeros_a_bordo,personal_a_bordo,total_a_bordo,pasajeros_fallecidos,personal_fallecido,ground,total_fallecidos,año,dia,mes,summary
0,1908-9-17,17:18:00,Military - U.S. Army,Wright Flyer III,"Fort Myer, Virginia",1,1,2,1,0,0,1,1908,17,9,"During a demonstration flight, a U.S. Army fly..."
1,1909-9-07,NaT,NaN,Wright Byplane,"Juvisy-sur-Orge, France",0,1,1,0,0,0,1,1909,07,9,Eugene Lefebvre was the first pilot to ever be...
2,1912-7-12,06:30:00,Military - U.S. Navy,Dirigible,"Atlantic City, New Jersey",0,5,5,0,5,0,5,1912,12,7,First U.S. dirigible Akron exploded just offsh...
3,1913-8-06,NaT,Private,Curtiss seaplane,"Victoria, British Columbia, Canada",0,1,1,0,1,0,1,1913,06,8,The first fatal airplane accident in Canada oc...
4,1913-9-09,18:30:00,Military - German Navy,Zeppelin L-1 (airship),Over the North Sea,NaN,NaN,20,NaN,NaN,0,14,1913,09,9,The airship flew into a thunderstorm and encou...

In [29]:
df2= pd.DataFrame(df2)
df2.to_csv('aviones_arreglado.csv', index= False)